<header>
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4'>
      <img
        alt='Brand logo'
        src='{{logo}}'>
    </div>
    <div class='col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6'>
      <div class='name'>
        {{name}}
      </div>
      <div class='slogan'>
        {{slogan}}
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 buttons'>
      <button
          class='btn'
          type='button'
          [ngClass]="{'btn-secondary': isEnglishLanguageSelected, 'btn-light': isGermanLanguageSelected}"
          (click)='setActiveLanguageToEnglish()'>
          <span>
            {{englishLanguage}}
          </span>
        </button>
        <button
          class='btn'
          type='button'
          [ngClass]="{'btn-secondary': isGermanLanguageSelected, 'btn-light': isEnglishLanguageSelected}"
          (click)='setActiveLanguageToGerman()'>
          <span>
            {{germanLanguage}}
          </span>
        </button>
    </div>
  </div>
</header>
