<div class='row profile'>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <img
      src='{{profilePhoto}}'
      alt='Profile photo'>
    <div class='summary'>
      {{ summary }}
    </div>
    <hr>
    <div class='social-links'>
      <a
        href='{{linkedInLink}}'
        rel='noopener'
        target='_blank'
        title='LinkedIn'>
        <i
          aria-hidden='true'
          class='fa fa-linkedin-square fa-lg'>
        </i>
      </a>
    </div>
    <div class='introduction'>
      {{ introduction }}
    </div>
    <hr>
    <memija-resume-download></memija-resume-download>
    <memija-resume></memija-resume>
  </div>
</div>
