<div class="row profile">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <img
      src="{{profilePhoto}}"
      alt="Profile photo">
    <div class="summary">
      Making my loved ones happy. Enjoying the small things. Being optimistic about the future.
    </div>
    <hr>
    <div class="social-links">
      <a
        href="{{linkedInLink}}"
        target="_blank">
        <i
          aria-hidden="true"
          class="fa fa-linkedin-square fa-lg">
        </i>
      </a>
    </div>
    <div class="introduction">
      I am a curious developer, always on a lookout for opportunities in order to broaden my horizons.
      I love creating user-friendly and interesting solutions that solve problems and better everyday living.
    </div>
  </div>
</div>
