<footer>
  <div class='row'>
    <div class='col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6'>
      <span
        aria-hidden='true'
        class='fa fa-envelope-square'>
      </span>
      Email
    </div>
    <div class='col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6'>
      <a href='mailto:{{email}}?Subject={{name}}'>
        {{email}}
      </a>
    </div>
  </div>
  <div class='row'>
    <div class='col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6'>
        Version {{ version }}
    </div>
    <div class='col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6'>
        &copy; {{ name }} {{ year }}
    </div>
  </div>
</footer>
